<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="dependencies/css/styles.css" rel="stylesheet" type="text/css" />
<link href="dependencies/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="dependencies/css/mediaqueries.css" rel="stylesheet" type="text/css" />
<script src="dependencies/js/jquery-3.3.1.min.js"></script>
<script src="dependencies/js/bootstrap.js"></script>
<script src="dependencies/js/scripts.js"></script>
<title>ListaVIP</title>

</head>
<body>
	
	<div class="container">
	
		<div class="row">
			<div class="titulo col-xs-12">
				<h1 class="title">Lista dos convidados</h1>
			</div>
		</div>

		<div class="row">
		
			<div id="listaDeConvidados" class="col-xs-12 col-md-7">
			
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Email</th>
							<th>Nome</th>
						</tr>
					</thead>
					<tr th:each="convidado : ${convidados}">
						<td><span th:text="${convidado.nome}"></span></td>
						<td><span th:text="${convidado.email}"></span></td>
						<td><span th:text="${convidado.telefone}"></span></td>
						<td>
							<form action="excluir" method="post">
								<input type="hidden" id="id" name="id" th:value="${convidado.id}" />
								<button type="submit" class="btn btn-danger">
									excluir
								</button>
							</form>
						</td>
						<td>
							<form action="atualizarconvidado" method="post">
								<input type="hidden" id="id" name="id" th:value="${convidado.id}" />
								<input type="hidden" id="nome" name="nome" th:value="${convidado.nome}" />
								<input type="hidden" id="email" name="email" th:value="${convidado.email}" />
								<input type="hidden" id="telefone" name="telefone" th:value="${convidado.telefone}" />
								<button type="submit" class="btn btn-warning">
									atualizar
								</button>
							</form>
						</td>
					</tr>
	
				</table>
			</div> <!-- fim da Div VIEW MODEL -->
	
			<div class="col-xs-12 col-md-5">
				<form action="salvar" method="post">
					<div class="form-group">
						<input type="text" class="form-control" id="nome" name="nome" placeholder="Nome Completo" />
					</div>
					<div class="form-group">
						<input type="email"	class="form-control" id="email" name="email" placeholder="Email" />
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
					</div>
					<button type="submit" class="btn btn-success">Convidar</button>
				</form>
			</div>
		</div>

	</div>

</body>
</html>